{{ define "base" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Param "title" }}</title>
	<link rel="icon" href="/public/img/favicon.png">

    <link rel="stylesheet" type="text/css" href="public/styles.css">
</head>
<body>
    {{ template "content" .}}
</body>
</html>
{{ end }}