{{ define "content" }}
<div class="emblem">
	<img id="tentacles" src="/public/img/tentacles.svg"/>
	<img id="text" src="/public/img/text.svg"/>
</div>
<audio id="music" controls>
    <source src="/public/shinryaku_no_susume.mp3" type="audio/mpeg">
</audio>
{{ end }}